<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".PDFTOONApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFTOON"
        android:localeConfig="@xml/locales_config">

        <!-- Main Activity - Library View -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PDFTOON.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <!-- PDF Viewer Activity -->
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFTOON.Fullscreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified" />

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/menu_settings"
            android:theme="@style/Theme.PDFTOON.Settings" />

        <!-- Changelog Activity -->
        <activity
            android:name=".ChangelogActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFTOON.NoActionBar"
            android:label="@string/title_changelog" />

        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFTOON.NoActionBar"
            android:label="@string/menu_about" />

    </application>

</manifest>